/* ---- reset ---- */

body {
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
	display: block;
	/* vertical-align: bottom; */
}

/* ---- particles.js container ---- */

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #232741;
	background-image: url("../images/icon_w.png");
	background-repeat: no-repeat;
	background-size: 22%;
	background-position: 50% 15%;
}

#particles-js .center {
	position: absolute;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}

#particles-js .center h1 {
	font-size: 32px;
}

#particles-js .center h3 {
	font-size: 28px;
}

#particles-js .center a {
	opacity: 0.83;
	font-size: 65px;
	letter-spacing: 35px;
}

#particles-js .center a:hover {
	opacity: 1;
}

@media only screen and (max-width: 600px) {
	#particles-js .center h1 {
		font-size: 20px;
	}
	
	#particles-js .center h3 {
		font-size: 17px;
	}

	#particles-js .center a {
		opacity: 1;
		font-size: 40px;
		letter-spacing: 15px;
	}
}

@media only screen and (max-width: 992px) {
	#particles-js {
		background-size: 75%;
	}
}
